<form [formGroup]="form" class="f_vertical_start_center gap-4">
  <section class="w-full">
    <p-floatLabel>
      <input pInputText id="username" formControlName="username" class="w-full"/>
      <label for="username">Correo electrónico</label>
    </p-floatLabel>
  </section>
  <section class="w-full">
    <p-floatLabel>
      <p-password id="password" formControlName="password" styleClass="w-full" inputStyleClass="w-full"
                  [feedback]="false" [toggleMask]="true"/>
      <label for="password">Contraseña</label>
    </p-floatLabel>
  </section>
  <section class="w-full flex justify-content-end">
    <a class="custom__lint">
      ¿Olvido su contraseña?
    </a>
  </section>
  <button pButton pRipple class="w-full" type="button" (click)="onClickSubmit()">
    Iniciar sesión
  </button>
</form>
