<header class="sticky top-0">
  <ul class="m-0 px-3 flex gap-2 w-full h-fit justify-content-between align-items-center">
    <a routerLink="/">
      <img priority [ngSrc]="logoUrl" [alt]="'app.header.logo.alt' | translate" width="58" height="58">
    </a>
    <section class="f_horizontal_center">
      @for (item of menuItems; track item.route) {
        <li>
          <a pButton
             pRipple
             text
             rounded
             class="h-fit"
             [routerLink]="item.route">
            {{ item.label }}
          </a>
        </li>
      }
    </section>
    <section class="f_horizontal_center gap-2">
      <form [formGroup]="form">
        <p-selectButton
          [options]="langOptions"
          [allowEmpty]="false"
          styleClass="suze__md"
          formControlName="lang"
          optionLabel="label"
          optionValue="value">
          <ng-template let-item pTemplate>
            {{ (item.label) | translate }}
          </ng-template>
        </p-selectButton>
      </form>
      <p-avatar
        icon="pi pi-user"
        styleClass="auth__avatar cursor-pointer"
        shape="circle" />
    </section>

  </ul>
</header>

