@import 'primeflex/primeflex';
@import 'primeflex/themes/primeone-dark';
@import "extends/selected-button";
@import "extends/input/input";
@import "extends/button";
@import "extends/avatar";
@import "variables";

* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--pock-bg-dark);
}

@mixin flex_fabric ($js, $al, $dir: column) {
  display: flex;
  flex-direction: $dir;
  justify-content: $js;
  align-items: $al;
}


.f_horizontal_center {
  @include flex_fabric(center, center, row);
}

.f_horizontal_btw_center {
  @include flex_fabric(content-between, center, row);
}

.f_vertical_start_center {
  @include flex_fabric(flex-start, center);
}

