:root {
  --pock-white: #fbfbfb;
  --pock-primary-100: rgba(138, 210, 234, 1);
  --pock-primary-50: rgba(138, 210, 234, .5);
  --pock-primary-10: rgb(0, 30, 60);
  --pock-text-color: #fbfbfb;
  --pock-primary-color: var(--pock-primary-100);
  --selected-button-highlight: var(--pock-primary-50);
}

