.p-button-primary {
  background-color: var(--pock-primary-color) !important;
  color: var(--primary-color-text) !important;
  border-radius: var(--border-radius);
}

.p-button-text {
  color: var(--pock-text-color) !important;
}
