.p-button-primary {
  background-color: var(--pock-primary-color) !important;
  color: var(--primary-color-text) !important;
  border-radius: var(--border-radius);
}

.p-button-text {
  color: var(--pock-text-color) !important;
}

button.p-button {
  justify-content: center;
  text-transform: uppercase;
}


a.custom__lint {
  color: var(--pock-info-300);
  cursor: pointer;
}
